@import "../../vars.css";

.container {
    position: relative;
    background-color: var(--color-third);
    border: none;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.title {
    color: var(--color-primary);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px; 
    margin-top: -20px; 
    margin-left: 10px; 
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
    gap: 40px;
}

.journeyImage {
    width: 35%;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.journeyImage:hover {
    animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(-2deg); }
    75% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}

.journeyItems {
    color:var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 600px;
    line-height: 1.8;
}


.journeyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg, var(--color-secondary) 0%, var(--color-third) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.journeyItem:hover {
    background-size: 100% 100%;
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.journeyItem h4 {
    font-size: 25px;
    line-height: 1.8;
    margin-top: -10px;
}



