@import "../../vars.css";

.container {
  margin-top: 100px;   
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-top: 80px;
}


.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: var(--color-primary);
}

.description{
    margin-bottom: 40px; 
    margin-top: 20px;
    font-weight: 400;
}

.header {
  font-size: 1rem;               
  font-weight: 500;              
  letter-spacing: 2px;          
  text-transform: uppercase;     
  color: var(--color-secondary);                         
  margin-bottom: 8px;          
  opacity: 0.8;                  
}

.allWorkWrapper {
  margin-top: 5rem;
  text-align: center;
}

.allWork {
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  border: 2px solid var(--color-secondary);
  color: var(--color-primary);
  background: transparent;
  border-radius: 100px;
  padding: 10px 24px;
  text-decoration: none;
}



