@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    z-index: 2;
    margin: 0 8%;
}

.scrolled {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(16px);
  padding: 12px 32px;
  border-radius: 999px; /* capsule */
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primary);
}

.menu {
    display: flex;
     transition: all 0.3s ease;
}

.scrolled {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(16px);
  padding: 12px 32px;
  border-radius: 999px; 
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.menu.scrolled {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(16px);
  border-radius: 999px;
  padding: 12px 32px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuBtn {
  display: none;
}

.menuItems a {
    font-size: 22px;
    color: var(--color-text);
    text-decoration: none;
}

.menuItems a:hover {
         color: var(--color-accent);
    }

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
        width: 32px;   
        height: 32px;
    }
    .menuItems  {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background-color:  rgb(242, 51, 125) ;
        background:linear-gradient(0deg, rgb(242, 51, 125, 1) 20%, rgb(242, 51, 125, 0.2) 100%);
        padding: 24px 33px;
        height: 30%;
        box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.25);
        
    }

    .menuItems a {
         font-size: 18px; 
         color: var(--color-bg);
         text-decoration: none;
    }

    .menuItems a:hover {
         color: var(--color-text);
    }

    .menuItems a::after {
        display: none; 
        content: none; 
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }

   .menu.scrolled {
    top: auto;
    left: auto;
    transform: none;
    background: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    backdrop-filter: none
}

}