@import "../../vars.css";

.navbar {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
}


.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primary);
}

.menu {
  display: flex;
  padding: 14px 36px;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 40px rgba(255, 79, 163, 0.15);

  transition: all 0.4s ease;
}

.menuItems {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}


.menuBtn {
    display: none;
}

.menuItems a {
    font-size: 22px;
    color: var(--color-text);
    text-decoration: none;
}

.menuItems a:hover {
    color: var(--color-accent);
}

@media screen and (max-width: 640px) {
  .menu {
    padding: 12px 20px;
  }

  .menuItems {
    justify-content: center;
    gap: 16px;
  }

  .menuItems a {
    font-size: 16px;
  }
}
