@import "../../vars.css";

.navbar {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
}


.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primary);
}

.menu {
  display: flex;
  padding: 14px 36px;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 40px rgba(255, 79, 163, 0.15);

  transition: all 0.4s ease;
}

.menuItems {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}


.menuBtn {
    display: none;
}

.menuItems a {
    font-size: 22px;
    color: var(--color-text);
    text-decoration: none;
}

.menuItems a:hover {
    color: var(--color-accent);
}



@media screen and (max-width: 830px) {
    .navbar {
  left: auto;
  right: 20px;
  transform: none;
}


    .menu {
        position: absolute;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menu.scrolled {
        position: absolute; 
        left: auto;
        right: 0;
        transform: none;
        background: none;
        backdrop-filter: none;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
        width: 32px;
        height: 32px;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: linear-gradient(0deg, rgb(242, 51, 125, 1) 20%, rgb(242, 51, 125, 0.2) 100%);
        padding: 24px 33px;
        height: auto;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuItems a {
        font-size: 18px;
        color: var(--color-bg);
        text-decoration: none;
    }

    .menuItems a:hover {
        color: var(--color-text);
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
}