:root {
      /* Colours */
     --color-text: #2B2B2B;
     --color-primary: #F2337D;
     --color-secondary: #FF90BB ;
     --color-third: #FFB5D4;
     --color-bg: #FFF5F8 ;

       /* Fonts */
     --font-roboto: "Roboto";
}