:root {
      /* Colours */
     --color-text: #2B2B2B;
     --color-primary: #F2337D;
     --color-secondary: #FFC6D9 ;
     --color-dark: #6C2B47;
     --color-bg: #FFF5F8 ;

       /* Fonts */
     --font-robot: "Roboto";
}