@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 8% ;
    margin-right: 8%;
    z-index: 1;
    gap: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
    z-index: 1;
    line-height: 1.5;
}

.title {
    font-size: 68px;
    color: var(--color-primary);
    font-weight: 800;
    margin-bottom: 40px;
    font-family: var(--font-roboto);
    cursor: pointer;  
}

.title:hover {
    background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-size: 28px;
    font-weight: 700;
    font-family: var(--font-roboto);
    color: var(--color-text);
    margin-bottom: 52px;
    line-height: 1.6;
    cursor: pointer;
}

.description:hover {
    color: var(--color-primary);
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-roboto);
    color: var(--color-bg);
    border-radius: 100px;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease; 
}

.contactBtn:hover {
  background-color: var(--color-accent); 
  transform: scale(1.07); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}

.heroImg {
    width: 35%;
    z-index: 1;
    border-radius: 50%;
    animation-name: floating;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); 
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px) ;
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.topBlur {
    position: absolute;
    width: 25vw;
    height: 25vw;
    min-width: 250px;
    min-height: 250px;
    top: 80px;
    left: -5vw;
    border-radius: 50%;
    background: rgba(255, 64, 129, 0.6); 
    filter: blur(150px); 
    z-index: 0;
}


.bottomBlur {
    position: absolute;
    width: 25vw;
    height: 25vw;
    min-width: 250px;
    min-height: 250px;
    top: 80px;
    right: -5vw;
    border-radius: 50%;
    background: rgba(255, 64, 129, 0.6);
    filter: blur(150px);
    z-index: 0;
}

/* 📱 Tablet */
@media screen and (max-width: 1024px) {
    .title {
        font-size: 48px;
        text-align: left;
    }
    .description {
        font-size: 22px;
        text-align: left;
    }
    .contactBtn {
        font-size: 20px;
        padding: 14px 24px;
    }
    .heroImg {
        width: 50%;
    }
}

/* 📱 Mobile */
@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
        gap: 30px;
        align-items: flex-start;
    }
    .content {
        max-width: 100%;
        align-items: flex-start;
    }
    .title {
        font-size: 60px;
        text-align: left;
    }
    .description {
        font-size: 30px;
        text-align: left;
    }
    .contactBtn {
        font-size: 20px;
        padding: 12px 20px;
    }
    .heroImg {
        width: 70%;
        
    }
}

